/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
/* Header */
header {
    position: relative;
}

section {
    height: 900px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Header */
.background-header {
    /* position: relative; */
    background-image: url("../img/jumbo.png");
    height: 630px;
    background-size: cover;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    /* background-color: red; */
}

.row {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.background-blue {
    background-color: #3161e0;
}

.colum15-header {
    width: 15%;
}

.colum {
    float: left;
}

.colum70-header {
    width: calc(70% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

.access-button {
    text-align: right;
}

.access-button a {
    padding: 10px 10px;
    background-color: white;
    border-radius: 25%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #23272a;
}

.text-hero {
    color: white;
    text-align: center;
    width: 50%;
}

.text-hero h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.text-hero p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}

.download {
    margin-right: 25px;
    margin-top: 60px;
}

.download a {
    color: #23272a;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: white;
}

.on-browser a {
    color: white;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: white;
    background-color: #36393f;
}

.download, .on-browser {
    display: inline-block;
}

.download a, .on-browser a {
    text-decoration: none;
}

.position-center {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* /Header */
/* Main */
.colum-50 {
    float: left;
    width: 50%;
    /* padding: 10px; */
    height: 300px;
    margin-top: 50px;
}

.colum-main50l {
    width: calc(100% / 2);
}

.colum-main50l img {
    width: 100%;
}

.colum-main50r {
    width: 50%;
    padding-top: 35px;
}

.colum-main50r h2 {
    color: #23272a;
    width: 50%;
    margin-left: 150px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}

.colum-main50r p {
    color: #23272a;
    margin-top: 20px;
    margin-left: 150px;
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

.text-bottom, .text-bottom2 {
    text-align: center;
}

.text-bottom h2 {
    color: #23272a;
    font-size: 48px;
}

.text-bottom p {
    color: #23272a;
    margin-top: 20px;
    line-height: 1.2;
}
.bottom-img {
    margin-left: 200px;
}

.text-bottom2 {
    margin-top: 30px;
}

.text-bottom2 h4 {
    color: #23272a;
    font-size: 32px;
    font-weight: 600;
}

.download2 {
    margin-top: 30px;
}

.download2 a {
    text-decoration: none;
    color: white;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #8ea1e1;
}