/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Header */
.background-header {
    /* position: relative; */
    background-image: url("../img/jumbo.png");
    height: 630px;
    background-size: cover;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.row {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.background-blue {
    background-color: #3161e0;
}

.colum15-header {
    width: 15%;
}

.colum {
    float: left;
}

.colum70-header {
    width: calc(70% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

.access-button {
    text-align: right;
}

.access-button a {
    padding: 10px 10px;
    background-color: white;
    border-radius: 25%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: black;
}